.content {
    color: rgb(33, 33, 33);
    padding-top: 90px;
}

.cart-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #374151;
    margin: 0;
    text-align: center;
  }

  /* .nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
} */