.hero {
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0;
  background: white;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 50px;
}

.bigbox {
  border-radius: 30px;
  display: flex;
  background-color: #ffffff;
  width: 90%;
  align-items: center;
}

.image {
  display: flex;
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.picture {
  width: 60%;
  height: auto;
}

.text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero p {
  padding-top: 50px;
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  color: black;
  margin: 0;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: bolder;
  color: black;
  padding-right: 50px;
  text-align: left;
}

.hero h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  color: black;
  margin: 0;
  padding-right: 215px;
  font-weight: bolder;
}

.green-box {
  background-color: green;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px 25px;
  margin-right: 85px;
  transform: rotate(-2deg);
}
.green-box h3 {
  transform: rotate(2deg);
  color: white;
  padding-top: 0;
  text-align: left;
  padding: 2px 40px 2px 10px;
}

.options {
  display: flex;
  justify-content: center;
  font-weight: 100px;
  gap: 30px;
  padding-top: 30px;
}

.HireRegalia,
.BuyRegalia {
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: larger;
  background-color: black;
  border-radius: 10px;
}

.hero p {
  text-align: left;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .hero-desc {
    white-space: normal;
    text-overflow: clip;
  }
}
