.BuyDressSetTitle {
  margin-bottom: 20px;
  margin-left: 130px;
  font-weight: bolder;
  font-size: 30px;
  padding: 24px 0;
}

.BuyDressSetImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
}

.BuyDressSetImg div {
  text-align: center;
  width: 300px;
}

.BuyDressSetImg img {
  width: 100%;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}

.BuyDressSetImg p {
  font-size: larger;
  font-weight: bolder;
}
