.footer {
  background-color: #202020;
  margin: 0;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}

.footer_left {
  color: aliceblue;
  line-height: 10px;
}

.icons a {
  color: aliceblue;
}

.footer_pay {
  width: 120px;
}

.img {
  width: 100%;
  height: auto;
}
