.hireprocess {
  background-color: #ffffff;
  margin: 0;
  padding: 24px 0;
}

.process_title {
  color: black;
  margin-left: 130px;
  font-weight: bolder;
  font-size: 30px;
}

.process_img {
  width: 1000px;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: auto;
}
