.HireDressSetTitle {
  margin-bottom: 20px;
  margin-left: 130px;
  font-weight: bolder;
  font-size: 30px;
  padding: 24px 0;
}

.HireDressSetImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
}

.HireDressSetImg img {
  width: 80%;
}
